# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.{md,markdown}]
indent_size = 4
trim_trailing_whitespace = false
insert_final_newline = true
end_of_line = crlf

[*.{css,java,js,json,gradle,html,kt,kts,ts,vue,xml,yaml,yml}]
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = crlf